body {
    margin: 0;
    padding: 0;
    font-size: 13px;
    font-family: Arial, Helvetica, sans-serif;
    
}
a {
    text-decoration: none;
    cursor: pointer;
}

header {
    width: 100%;
    height: 60px;
}

header nav {
    display: flex;
    justify-content: flex-end;

}
header nav .nav-right-section {
    justify-content: center;
    list-style: none;
    display: flex;
    align-items: center;
    width: 250px;
    height: auto;
}
nav .nav-right-section a{
    margin-right: 10px;
    color: #5f6368;
}
nav .nav-right-section a:hover{
    text-decoration: underline;
}

nav .nav-right-section .icon-image {
    height: 25px;
    width: 25px;
    background-image: url(https://static.thenounproject.com/png/756729-200.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
    color: #5f6368;
    cursor: pointer;
}


nav .nav-right-section img {
    border-radius: 50%;
    width: 25px;
    margin-left: 10px;
}

main {
    margin-top: 100px;
    text-align: center;
    
}

main .main-logo {
    width: 582px;
    margin: 0 auto;
    margin-bottom: 25px;
}
main .main-input{
  width: 582px;
  margin: 0 auto;
  margin-bottom: 25px;
}
main .main-input-container{
    width: 582px;
    border-radius: 100px;
    border: 1px solid #dfe1e5;
    display: flex;
    justify-content: center;
    align-items: center;
}
main .main-input input {
    width: 500px;
    height: 40px;
    border: none;
    outline: none;
}
main .main-input-container:hover{
    box-shadow: 0 1px 6px 0 #20212447;
    border-color: #dfe1e500;
}
main .main-input .search-icon{
    background-image: url(https://upload.wikimedia.org/wikipedia/commons/thumb/7/7e/Vector_search_icon.svg/945px-Vector_search_icon.svg.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
    width: 15px;
    height: 15px;

}
main .main-input .micro-icon{
    background-image: url(https://upload.wikimedia.org/wikipedia/commons/thumb/e/e8/Google_mic.svg/716px-Google_mic.svg.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
    width: 20px;
    height: 20px;
    cursor: pointer;
}
main .main-buttons{
    width: 582px;
    margin: 0 auto;
}

main .main-buttons div{
    display: inline-block;
}

main .main-buttons button{
    background-color: #f2f2f2;
    border-radius: 5px;
    color: #5f6368;
    padding: 0 15px;
    margin-right: 15px;
    border: 0;
    font-size: 14px;
    height: 36px;
    cursor: pointer;
}
main .main-buttons button:hover {
    border: 1px solid #c6c6c6;
    box-shadow: 0 1px 1px #000001;
    color: #222;
}

footer{
    width: 100%;
    height: 60px;
    position: absolute;
    bottom: 0;
    display: grid;
    grid-template-columns: 1fr 1fr;
    align-items: center;
    background-color: #f2f2f2;
    border-top: 1px solid #e4e4e4;
}

footer ul {
    margin: 10px;
    list-style: none;
    display: flex;
    padding-left: 0;
}
footer .footer-left {
    justify-self: left;
}
footer .footer-right {
    justify-self: right;
}

footer ul li a {
    margin: 10px;
    color: #5f6368;
    font-size: 14px;
}
footer ul li a:hover {
    margin: 10px;
    color: #5f6368;
    text-decoration: underline;
}
